<!--
  templateType: global_partial
  label: Footer
-->

{{ require_css (get_asset_url('/_hb_official/css/output.css')) }}



 <footer class="footer-bg" aria-labelledby="footer-heading">
        <h2 id="footer-heading" class="sr-only">Footer</h2>
        <div class="mx-auto max-w-7xl px-6 py-16 sm:py-24 lg:px-8 lg:py-32">
          <div class="xl:grid xl:grid-cols-3 xl:gap-8">
            {% module "company_logo" path="@hubspot/linked_image", label="Company Logo", class="h-7" %}
            <div class="mt-16 grid grid-cols-2 gap-8 xl:col-span-2 xl:mt-0">
              <div class="md:grid md:grid-cols-2 md:gap-8">
                <div>
            
                  {% module "menu1" path="/_hb_official/modules/_menulist", label="Menu 1" %}
                </div> 
                <div class="mt-10 md:mt-0">
                 {% module "menu2" path="/_hb_official/modules/_menulist", label="Menu 2" %}
                </div>
              </div>
              <div class="md:grid md:grid-cols-2 md:gap-8">
                <div>  
                 {% module "menu3" path="/_hb_official/modules/_menulist", label="Menu 3" %}
                </div>
                <div class="mt-10 md:mt-0">
                  {% module "menu4" path="/_hb_official/modules/_menulist", label="Menu 4" %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
      




      




    

