.branding-borderbar {
    background-image: linear-gradient(90deg,#f72110,#f72110 14.2857%,#ff007f 0,#ff007f 28.5714%,#ff5f1f 0,#ff5f1f 42.8571%,#eb18ef 0,#eb18ef 57.1429%,#59c2f0 0,#59c2f0 71.4286%,#6cf600 0,#6cf600 85.7143%,#fff239 0,#fff239);
    background-repeat: repeat-x;
    background-size: 150px 20px;
    height: 20px;
    margin-left: -1rem;
    position: absolute;
    width: 210px;
    bottom: 0;
}

#toc ol li {
   font-size: .6rem!important;
   margin-left: 10px;
    padding: 0;
   list-style:none!important;
}



div#toc {
    background:#fff;
    border: 1px solid grey;
    left: 1rem;
    max-width: 90%;
    width: 210px;
    padding: 1rem;
    position: fixed;
   margin-bottom: 2rem;
}




@media(max-width: 1350px) {
div#toc {
   width: 210px;
   padding: 1rem;
  min-height:350px;

}
}


@media(max-width: 1250px) {
div#toc {
    border: 1px solid grey;
    margin-left: -1rem;
    max-width: 100%;
    width: 100%;
    padding: 1rem;
   position: relative;
   min-height: auto;

}

}