
.meeting-placeholder {
  position: relative;
  max-width: 900px;
  margin: 0 auto;  
}

.meeting-placeholder img {
  width: 100%;
}

.meeting-alert {
  display: none;
  padding: 20px;
  background-color: #f44336;
  color: white;
  margin-bottom: 15px;
  position: absolute;
  opacity: 0.9;
}