/* @import url('http://example.com/example_style.css'); */

/***********************************************/
/* CSS @imports must be at the top of the file */
/* Add them above this section                 */
/***********************************************/

/*****************************************/
/* Start your style declarations here    */
/*****************************************/

/*
1. Cards Slider-v1
2. Forms
3. Onclick Pop-Up
*/

a { 
    
    text-decoration: underline;
    text-decoration-color: #ffc100;
}

/*Cards Slider-v1 */
 /* 08-16-2022 */
.kl-cards-slider__arrow {
    top: 50%;
    width: 60px;
    height: 60px;
    background-color: #ffc100;
    border-radius: 10px;
    padding: 1em;
}

.kl-cards-slider__image.v-image {
    margin: 2rem auto;
}

.kl-faq__header h3 {
    font-size: 1rem;
}

.kl-navbar__button {
    font-weight: 500;
}


/*
3. Onclick Pop-Up
*/
 /* 08-16-2022 */
/* end Portfolio*/
.modal {
display: none; /*  Hidden by default */
position: fixed; /* Stay in place */
z-index: 99 !important; 
padding-top: 100px; /* Location of the box */
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
position:relative;
z-index: 999 !important;
display:block;
background-color: #fefefe;
margin: auto;
padding: 0;
border: 1px solid #888;
width: 500px;
max-width:90%;
height:auto;
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
-webkit-animation-name: animatetop;
-webkit-animation-duration: 0.4s;
animation-name: animatetop;
animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
from {top:-300px; opacity:0}
to {top:0; opacity:1}
}

@keyframes animatetop {
from {top:-300px; opacity:0}
to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: #fff;
    float: right;
    font-size: 20px;
    font-weight: 700;
    background: #000;
    width: 40px;
    border-radius: 50%;
    text-align: center;
    height: 38px;
    margin-top: -8%;
    padding-top: 5PX;
    margin-right: -15px;
}



.close:hover,
.close:focus {
text-decoration: none;
cursor: pointer;
}

.modal-body {
padding: 5%;
}

button.regular_btn {
    background-color: transparent;
    border: none;
    padding: 0;
}


button.regular_btn a {
    color: #000;
    font-size: 16px;
    text-decoration: underline;
  text-decoration-color: #ffc100;
   
}

button:hover.regular_btn {
    transform: none;
}


.kl-footer__legal a {
    text-decoration: none;
}















