.social-facebook,
.social-facebook:hover {
	fill: #1877f2!important;
	color: #1877f2!important;
}
.social-linkedin,
.social-linkedin:hover {
	fill: #007bb5!important;
	color: #007bb5!important;
}
.social-instagram,
.social-instagram:hover {
	fill: #c32aa3!important;
	color: #c32aa3!important;
}
.social-twitter,
.social-twitter:hover {
	fill: #1da1f2!important;
	color: #1da1f2!important;
}
.social-youtube,
.social-youtube:hover {
	fill: #ff0000!important;
	color: #ff0000!important;
}
.social-pinterest,
.social-pinterest:hover {
	fill: #bd081c!important;
	color: #bd081c!important;
}
.social-snapchat,
.social-snapchat:hover {
	fill: #fffc00!important;
	color: #fffc00!important;
}
.social-whatsapp,
.social-whatsapp:hover {
	fill: #25d366!important;
	color: #25d366!important;
}
.social-reddit,
.social-reddit:hover {
	fill: #ff4500!important;
	color: #ff4500!important;
}
.social-spotify,
.social-spotify:hover {
	fill: #1ed760!important;
	color: #1ed760!important;
}
.social-foursquare,
.social-foursquare:hover {
	fill: #f94877!important;
	color: #f94877!important;
}
.social-skype,
.social-skype:hover {
	fill: #00aff0!important;
	color: #00aff0!important;
}
.social-dribbble,
.social-dribbble:hover {
	fill: #ea4c89!important;
	color: #ea4c89!important;
}
.social-slack,
.social-slack:hover {
	fill: #4a154b!important;
	color: #4a154b!important;
}
.social-houzz,
.social-houzz:hover {
	fill: #4dbc15!important;
	color: #4dbc15!important;
}