/*

1. HubSpot Blog Listing



*/


/* 1. HubSpot Blog Listing */

h2.blog-title {
  font-size: 1.3rem;
  color: #353131;
}

.blog-summary h1,.blog-summary h1 span,
.blog-summary h2,.blog-summary h2 span,
.blog-summary h3, .blog-summary h3 span {
  display:none;
}

.blog-summary * {
  font-size: 0.85rem;
}

nav.blog-pagination {
  display: block;
  margin: 0rem auto 5rem auto;
  text-align: center;
}




/* Blog Listing */
img.hero-bg {
  filter: brightness(0.25);
}
.hero-title h1 {
  font-size:3rem;
  color:white;
  line-height:1;

}

.grid-cols-4s{
  grid-template-columns: repeat(4,minmax(0,1fr));
}

@media(max-width:1000px) {
  .grid-cols-4s {
    grid-template-columns: repeat(2,minmax(0,1fr));
  }}


/* end of 1. HubSpot Blog Listing */



/* HubSpot Blog post boilerplate  */

.blog-post {
  margin: 0 auto;
  max-width: 960px;
}

.blog-post__meta {
  margin-bottom: 1.4rem;
}

.blog-post__meta a {
  text-decoration: underline;
}

.blog-post__timestamp {
  display: block;
}

.blog-post__tags svg {
  height: auto;
  margin-right: 0.35rem;
  width: 15px;
}

.blog-post__tag-link {
  font-size: 0.875rem;
}

/* Blog related posts */

.blog-related-posts {
  background-color: #F8FAFC;
}

.blog-related-posts h2 {
  text-align: center;
}

.blog-related-posts__list {
  display: flex;
  flex-wrap: wrap;
}

.blog-related-posts__post {
  flex: 0 0 100%;
  padding: 1rem;
}

@media screen and (min-width: 768px) {
  .blog-related-posts__post {
    flex: 0 0 calc(100% / 2);
  }
}

@media screen and (min-width: 1000px) {
  .blog-related-posts__post {
    flex: 0 0 calc(100% / 3);
  }
}

.blog-related-posts__image {
  height: auto;
  max-width: 100%;
}

.blog-related-posts__title {
  margin: 0.7rem 0;
}

/* Blog comments */

.blog-comments {
  margin: 0 auto;
  max-width: 680px;
}

.blog-comments .hs-submit {
  text-align: center;
}

.blog-comments .comment-reply-to {
  border: 0 none;
}

.blog-comments .comment-reply-to:hover,
.blog-comments .comment-reply-to:focus {
  background-color: transparent;
  text-decoration: underline;
}
/* end HubSpot Blog post boilerplate  */